{% extends 'base.html' %}
{% block title %}Upload Videos{% endblock title %}
{% block style %}
.file-upload input[type='file'] {
  display: none;
}
#video-box {
    display: none;
}
video {
  width: 100%;
  height: auto !important;
}
{% endblock style %}
{% block content %}
<section>
  <div class="container">
      <div class="row">
      <div class="col-lg-5 mx-auto">
        <div class="p-5 bg-white shadow rounded-lg">
<h1>비디오 업로드하기</h1>
<img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
<div id="video-box">
올린 영상 미리보기:
<video controls class="preview">
<source src='' type='video/mp4' id="video_here" preload="metadata">
Your browser does not support the video tag.
</video>
</div>
<div class="custom-file rounded-pill mb-5">
            <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}
            <div class="form-group">
            {% for field in form.visible_fields %}
                {% if field.name == "videofile" %}
                <div class="custom-file">
                <input
                    type="file"
                    name="{{ field.name }}"
                    id="{{ field.id_for_label }}"
                    {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                    maxlength="{{ field.max_length }}"
                    {% if field.required %}required{% endif %}
                    class="custom-file-input">
                <label class="custom-file-label" for="{{ field.id_for_label }}">동영상 선택하기</label>
                </div>
                <br />
                <br />
                {% else %}
                {{ field.label_tag }}
                {{field}}
                {% endif %}
                {{ field.errors }}
            </div>
            {% endfor %}
            <input type="submit" value="Upload" class="btn btn-primary float-right"/>
            </form>
            <br />
                <br />
</div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<script>
$(document).on("change", ".custom-file-input", function(evt) {
  var $source = $('#video_here');
  $source[0].src = URL.createObjectURL(this.files[0])+"#t=0.1";
  $('#video-box')[0].style.display="inline-block"
  $source.parent()[0].load();
});
</script>
{% endblock content %}