{% extends 'base.html' %}
{% block title %}{{video.name}}{% endblock title %}
{% block style %}
video {
  width: 100%;
  height: auto; !important
}

.video-cover {
  position: relative;
  height: auto;
  overflow: hidden;
}

.video-cover video {
  object-fit: cover;
  background: #FECB58;
  background: linear-gradient(to bottom left,#FECB58,#27AACF);
}

{% endblock style %}
{% block content %}
<section>
<div class="col-lg-12 mx-auto shadow rounded-lg">
<div class="container">
<div class="video-cover" >
<video controls>
<source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
Your browser does not support the video tag.
</video>
</div>
<div class="row">
<h2 class="col-lg-8 post_title p-5">{{videofile.name}}</h2>
<h3 class="p-5 col-lg-4 view_count float-right"><small>조회수 </small>{{videofile.views}}<small>회</small></h3>
<h5 class="p-5 col-lg-4 view_count float-right">
{{videofile.uploader}}가 {{videofile.pub_date}}에 올림
</h5>
</div>
</div>
</section>

{% endblock content %}